/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
h1 
{
	text-align: center;
}
body 
{
	width: 750px;
	margin: 0 auto;
}

table 
{
	text-align: center;
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
	
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}
/* Tabloyu Çerçeve İçine Al */
.table-container {
    border: 3px solid black;
    padding: 20px;
    width: max-content;
    margin: auto;
    background-color: white;
}

/* Alternatif Satır Renkleri */
tbody tr:nth-child(even) {
    background-color: yellow;
}


.total-row {
    background-color: yellow;
    font-weight: bold;
    text-align: right;
}

.dep{
	background-color: white;
	font-weight: bold;
	vertical-align: top; 
}
.right{
	text-align: right;
}




